prune .git
prune build
prune dist
prune docs
prune tests
prune data
prune installer

global-exclude *.py[cod] __pycache__ .DS_Store ._*
recursive-exclude * __pycache__ *.py[cod]
recursive-exclude data *

exclude requirements-dev.txt
exclude *.pkg
exclude *.zip
